.layout-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.layout-container {
  max-width: 1200px;
  width: 100%;
  z-index: 2;
  animation: fadeIn 0.8s ease-out;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #fff;
  border: 2px solid #4dd0e1;
  box-shadow: 0 0 15px rgba(77, 208, 225, 0.7), inset 0 0 10px rgba(255, 255, 255, 0.2);
  font-weight: bold;
  text-shadow: 0 0 5px #4dd0e1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(77, 208, 225, 1), inset 0 0 15px rgba(255, 255, 255, 0.4);
}

.card-body:active {
  transform: scale(1.05);
}

.card-index {
  background-color: transparent !important;
}

.profile-image {
  border-radius: 100%;
  border: 5px;
}