.layout-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.layout-container {
  max-width: 1200px;
  width: 100%;
  z-index: 2;
  animation: fadeIn 0.8s ease-out;
}

.skill-title {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    color: white;
}

.skill-subtitle {
    font-size: clamp(1rem, 1.1vw, 1.5rem);
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
    text-align: justify;
}

.skill-content {
    font-size: clamp(0.2rem);
    color: white;
    font-weight: 700;
    margin-bottom: 2rem;
}

.skill-layout {
  height: 100vh;
}