@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

@keyframes nebulaMove {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2) translate(-10px, -10px);
  }
}

html,
body,
#root {
  font-family: 'Orbitron', sans-serif;
  scroll-behavior: smooth;
}

canvas {
  display: block;
}